.container {
  padding: 20px 10%;
}

.Curtain {
  position: fixed;
  cursor: pointer;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: black;
  opacity: .5;
  z-index: 2000;
  visibility: hidden;
}

.Curtain_on {
  visibility: visible;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 20px 5%;
  }
}