.container {
    padding: 20px 10%;
}

.Form {
    background-color: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    border-radius: 12px;
    width: 450px;
}

.Form h1 {
    margin-bottom: 20px;
    text-align: center;
}

.Form input,
.Form label {
    display: block;
    margin-bottom: 10px;
}

.Form input {
    padding: 15px 15px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
}

.Form input:focus {
    outline: none;
}

.Form button {
    border: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #3DB46D;
    color: white;
    margin-left: auto;
}

.Form .ErrorText {
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    color: red;
    margin: 10px 0px;
}

.Form .ErrorText.Show {
    opacity: 1;
}

.BContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

.Register_button {
    color: rgb(216, 169, 169);
    cursor: pointer;
    font-size: 14px;
    justify-self: flex-start;
}

.Register_button:hover {
    text-decoration: underline;
}

.Form button:hover {
    background-color: #329258;
}
  
@media only screen and (max-width: 500px) {
    .container {
        padding: 20px 5%;
    }

    .Form {
        width: 95%;
        padding: 20px 25px;
    }
}